*.gz
*.gz
*.zip
*.ckpt
*.out
jobs.json
**/.vscode/*
*.png
launch-test.json
dev.env
.pylintrc
**__pycache__**
**/datasets/**
**/data/**
**/reproduce/**
*.log
*.onnx
*.txt
**/logs/**
**/wandb/**
**/bk/**
**/dev/**
**/.hydra/**
**/outputs/**
data
checkpoints
.env